/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #td_name,
    #tr_name,
    #td_cantidad,
    #tr_cantidad {
      display: none;
    }
    
    #carrito img {
      width: 150px !important;
      height: auto;
    }
  
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media screen and (min-width: 600px) and (max-width: 767px) {
      #td_name,
      #tr_name,
      #td_cantidad,
      #tr_cantidad {
        display: none;
      }
  
      #carrito img {
          width: 150px !important;
          height: auto;
        }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px)  and (max-width: 991px)  {
      #td_name,
      #tr_name,
      #tr_cantidad,
      #td_cantidad {
        display: none;
      }
      #carrito .h1-compras {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
      }
    
      #carrito td input {
          width: 60px;
        }
  
      #carrito img {
        width: 150px !important;
        height: auto;
      }

      
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px)  {
      /* #td_name,
      #tr_name,
      #td_cantidad,
      #tr_cantidad {
        display: block;
      } */
      #carrito img {
        width: 200px !important;
        height: auto;
      }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
  