

.dark_mode .jumbotron {
  height: 50vh;
  padding: 5em inherit;
  /* background: url("../img/cover_back.png"); */
  background: url("../img/cover_back1.png");
  /* background: url("../img/asd.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.light_mode .jumbotron {
  height: 50vh;
  padding: 5em inherit;
  /* background: url("../img/cover_back.png"); */
  background: url("../img/b.png");
  /* background: url("../img/asd.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.card {
  cursor: pointer;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    margin-bottom: 50px;
  }
  .jumbotron {
    height: 30vh;
    background: url("../img/login2.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}