/* ------ Css perfil ------ */
h1{
  font-family: monospace;
  border-bottom: 4px double black;
}

#bloque{
  border: solid 1px gray;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(87, 86, 86);
}

#img_container {
  display: flex;
  justify-content: center;
}

#icons_container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#icons_container i {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

#contenedor-perfil h1 {
  text-align: center !important;
  margin: 40px 0;
}

#register-form {
  margin-bottom: 10px;
}

.image-upload {
  text-align: center;
  margin: 20px;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

#image-preview {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

#btn-guardar {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 40px;
  }

  #image-preview {
    max-width: 100%;
    max-height: 200px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  main {
    margin-top: 40px;
  }

  #image-preview {
    max-width: 100%;
    max-height: 200px;
  }
}

.errores li {
  color: red;
  font-size: 0.8rem;
}