h1 {
  margin: 40px 0;
}

.product_description h4 {
  margin: 20px 0;
}

.product_description p {
  font-size: 1.1rem;
}

#productos_relacionados {
  display: flex;
  flex-wrap: wrap; /*agre*/
  cursor: pointer;
}

.accordion {
  margin: 60px 0;
}

.accordion-item {
  margin-bottom: 30px;
  border-bottom-left-radius: 50px; 
  border-bottom-right-radius: 50px;
}

.accordion-header strong {
  margin-right: 15px;
}

.accordion-body {
  padding: 60px;
}

.accordion-body i {
  font-size: 1rem;
  /* cursor: pointer; */
  margin-left: 5px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%; /* Ajusta el ancho según tus necesidades */
}

.centered-textarea {
  width: 100%; /* Ocupar todo el ancho del contenedor */
}

.p_info_description {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  color: rgb(130, 130, 130) !important;
  font-size: 1rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #carrusel_nahuel,
  #fulImgBox {
    display: none;
  }

  .carousel {
    max-width: 100%;
    height: auto;
    padding: 0;
  }

  .info {
    max-width: 100%;
  }

  .card{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .p_info_description {
    margin-top: 0;
    margin-bottom: 30px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #carrusel_nahuel,
  #fulImgBox {
    display: none;
  }

  .carousel {
    max-width: 100%;
    height: auto;
  }
  .info {
    max-width: 100%;
  }

  .card{
    display: flex;
    width: 100%;
    border-radius: 15px;
  }

  

  .card{
    display: flex;
    width: 50%;
  }

  /* .p_info_description {
    display: flex;
  } */


  /* .p_info_description{
    display: none;
  }  */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #carrusel_nahuel,
  #fulImgBox {
    display: none;
  }

  #carrusel_nacho {
    display: flex;
  }

  .card{
    display: flex;
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #carrusel_nahuel {
    display: flex;
  }

  #carrusel_nacho {
    display: none;
  }

  section {
    display: flex;
    width: 100%;
    height: 430px;
    border: 10px solid rgb(219, 219, 219);
    border-radius: 10px;
  }

  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }

  section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }

  .product_description{
    width: 100%;
  }

  .ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }

  .ful-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    cursor: pointer;
  }

  #closeSpan {
    font-size: 2rem;
  }
  
  .card{
    display: flex;
    width: 50%;
  }

  .p_info_description{
    display: flex;
  }
}

/* boton añadir carrito */

.cartBtn {
  width: 155px;
  height: 50px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 10px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* estrellas */

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl; /* Establece la dirección de derecha a izquierda */
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 30px;
}

.rating label:before {
  content: "\2605"; /* Estrella en blanco (☆) */
  margin: 5px;
}

.rating input[type="radio"]:checked ~ label:before {
  content: "\2605"; /* Estrella rellena (★) */
  color: orange;
}

.rating input[type="radio"]:hover ~ label:before {
  content: "\2605"; /* Estrella rellena (★) */
  color: orange;
}

.accordion-body p {
  width: 100%; /* Ancho máximo del párrafo */
  overflow-wrap: break-word;
  margin-bottom: 0;
}


/* Titulo */

h1 {
  font-family: monospace;
  font-size: 33px;
}

.contenedor_titulo{
  display: flex;
  justify-content: space-between;
}

.dark_mode #cargarDatos {
  background-color: #fff !important;
  color: black;
}

.dark_mode #cargarDatos svg {
  color: black;
}

.dark_mode #white_mode_svg{
  display:none;
}
.light_mode #dark_mode_svg{
  display:none;
}

.general_rating {
  margin-bottom: 30px;
}

.general_rating i{
  color: rgb(232, 197, 0);
  cursor: pointer;
}

/* productos relacionados */

