section{
    display: flex;
    width: 100%;
    height: 430px;
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    cursor: pointer;

}

span{
    font-size: 0.5em;
}

#comments{
    border: rgba(136, 136, 255, 0.658) solid;
    padding: 10px;
    border-radius: 10px;
}

.hr-comments{
    padding: 2px;
    border-radius: 10px;
}

#productos_relacionados{
    display: flex;
    cursor: pointer;
}
#imgContainerProducto img{
    height: 200px;
    margin-left: 20px;
}

#imgContainerProducto p {
    font-size: 1.4rem;
    text-align: center;
}