<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="style-index2.css">
</head>
<body>
    <div class="contenedor-recuperar">
        <h2 class="letra-h2">Recuperar Contraseña</h2>
        <form id="recuperar-form">
            <div class="texto-input">
                <label for="recuperar">Inserte su Mail para recuperar la contraseña:</label>
                <input type="email" id="recuperar">
            </div>
            <button type="submit" class="boton-recuperar">Recuperar Contraseña</button>
            <div class="texto-input-volver">
                <p>Haz click <a href="index.html">aquí</a> para volver al login</p>
            </div>
        </form>
    </div>
</body>
</html>