<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate!</title>
    <link rel="stylesheet" href="style-index3.css">
</head>
<body>
    <div class="contenedor-register">
        <h2 class="letra-h2">Registrarse</h2>
        <form id="register-form">
            <div class="texto-input">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" required>
            </div>
            <div class="texto-input">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" required>
            </div>
            <div class="texto-input">
                <label for="mail">Email:</label>
                <input type="email" id="mail" required>
            </div>
            <div class="texto-input">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña">
            </div>
            <div class="texto-input">
                <label for="repeat-contraseña">Repetir Contraseña:</label>
                <input type="password" id="repeat-contraseña">
            </div>
            <div class="checkbox-terminos">
                <label><input id="checkbox-de-terminos" type="checkbox">Acepto los términos y condiciones del servicio.</label>
            </div>
            <button type="submit" class="boton-registrarse">Registrarse</button>
            <div class="link-login">
                <p>Ya tienes una cuenta? <a href="index.html">Inicia sesión aquí.</a></p>
            </div>
        </form>
    </div>
    <script src="script-index3.js"></script>
</body>
</html>