<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <!-- Estilos JaP -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/styles.css" rel="stylesheet"> -->

    <!-- Estilos Franco -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style-index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="md-5"> 
      <div class="container" id="login">
        <div class="contenedor-login">
          <h2 class="letra-h2">Iniciar Sesión</h2>
          <form id="login-form">
            <div class="texto-input">
              <label for="usuario">Email:</label>
              <input type="email" id="usuario" name="usuario" required />
              <i class="bx bxs-user"></i>
            </div>
            <div class="texto-input">
              <label for="contraseña">Contraseña:</label>
              <input
                type="password"
                id="contraseña"
                name="contraseña"
                required
              /><i class="bx bxs-lock-alt"></i>
            </div>
            <div class="recordarme">
              <label><input type="checkbox" />Recordar usuario</label>
              <a href="password.html">Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="boton-login" onsubmit="redirect()">
              Ingresar
            </button>
            <div class="registrarse">
              <p>
                No tienes una cuenta?
                <a href="register.html">Regístrate aquí.</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </main>

    <!-- <footer class="text-muted">
      <div class="container">
        <p class="float-end">
          <a href="#">Volver arriba</a>
        </p>
        <p>
          Este sitio forma parte de
          <a href="https://jovenesaprogramar.edu.uy/" target="_blank"
            >Jovenes a Programar</a
          >
        </p>
      </div>
    </footer> -->

    <script src="./login.js"></script>
  </body>
</html>
